.main_wrapper{
  display: flex;
  width: 100vw;
  height:100vh;
  font-family: 'Roboto', sans-serif;
  background-image: url(/images/main_background.jpg);
}

.app_wrapper{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 480px;
  width: 25vw;
  height: 34vw;
  margin: auto;
  border: none;
  box-shadow: 0 0 5px 0  #101010;
  background: radial-gradient(circle 200px,rgba(80,80,80,0.7),rgba(50,50,60,0.8));
}
