.main_wrapper{
  background-image: url(/images/main_background.jpg);
  width: 100vw;
  height:100vh;
  display: flex;
  }

.app_wrapper{
  background: radial-gradient(circle 200px,rgba(80,80,80,0.7),rgba(50,50,60,0.8));
  width: 330px;
  height: 440px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
   }
