.item_wrapper{
  background: rgba(40, 40, 40, 0.5);
  display: flex;
  flex-flow: row nowrap;
  align-items: space-between;
  padding: 4px;
  margin-top:2px;
}
.description{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: space-between;
  
}
.result{
  align-self: flex-end;
  margin-right:20px; 

}
.type{
  height: 58px;
  width: 58px;
  padding: 5px;
}
.date{
  align-self: flex-start;
}
label{
  color: #fff
}