.keyboard_wrapper{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 5px;
  opacity: 1;
  height: 75%;
}
.check_wrapper{
  display:flex;
  justify-content: flex-end;
  font-size: 13px;
}