.wrapper{
  
  width: 75px;
  height:45px;  
  background: rgba(30, 30, 30, 0.7);
  justify-content: center;
  margin:1px;
  border: none;
  

}
.wrapper_number{
  
  width: 75px;
  height:45px;  
  justify-content: center;
  margin:1px;
  border: none;
  background: rgba(0, 0, 0, 0.8);
}
.char{
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  color: rgba(255, 255, 255, 1);
}
.add{
   background: #000000;
}
