.wrapper{
  width: 23%;
  height:15%;  
  margin: calc(10%/12) calc(2%/9);
  border: none;
  box-shadow: 0 0 3px 0  #101010;
  background: rgba(42, 42, 42, 0.7);
 }
.wrapper_number{
  composes:wrapper;
  background: rgba(5, 5, 5, 0.7);
}
.char{
  font-size: 26px;
  align-self: center;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 1);
}

