.number-button-wrapper{
  display: block;
width: 80px;
height:45px;  
background: #f6f6f6;
display: flex;
justify-content: center;
margin:1px;
}
.number{
  align-self: center;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
}