.text_field{
  margin:3px;
  height:60px;
  border: none;
  background-color: rgba(0, 0, 0, 0 );
  text-align: end;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  color: #ffffff;
  
}

