.convert_panel{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.options_panel{
  display: flex;  
}
 .reverse_icon{
   height: 30px;
   width: 30px;
   margin: auto;
}
.submit{
  height: 30px;
  margin: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px 0  #202020;
  color: #fff;
  font-size: 20px;
  background: rgba(80,80,80,0.7);
}