.wrapper{
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 3% 2%;
  box-shadow: 0 0 5px 0  #202020;
  background-color: rgba(40, 40, 40, 0.8 );
  
}
.date{
  border-radius: 3px;
  border:0.5px solid #707070;
  overflow: hidden;
  outline: none;
  color: #fff;
  background-color: rgba(30, 30, 30, 1 );
}

.date::-webkit-calendar-picker-indicator{
  background:rgba(30, 30, 30, 1 );
}
.date::-webkit-inner-spin-button{
  display: none;
}
