.history_wrapper{
  display:  flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.message{
 margin: 40% 10px 10px 10px;
 padding: 5px;
 border-radius: 5px; 
 box-shadow: 0 0 5px 0  #202020;
 text-align: center;
 font-size: 20px;
 background:  rgba(30, 30, 30, 0.9 );
}

