.item_wrapper{
  display: flex;
  flex-flow: row nowrap;
  align-items: space-between;
  height: 15%;
  margin: 2% 12px 1% 0;
  box-shadow: 0 0 3px 0  #101010;
  background: rgba(42, 42, 42, 0.9);
}
.parameters{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}
.result{
  align-self: flex-end;
  margin-right:20px; 
}
.type{
  height: 58px;
  width: 58px;
  padding: 5px;
}

label{
  color: #fff
}
